@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>Music greeter</PageTitle>

<div class="my-auto">
    <h1 class="cover-heading">Setup your musical morning!</h1>
    <p class="lead">Add your photo and favorite song to get started</p>
    <canvas class="@(_hasImage ? "" : "d-none")" id="currentFrame" width="320" height="240"
        style="background-color:#000" />
    <video class="@(_hasImage ? "d-none" : "")" id="videoFeed" width="320" height="240" />
    <br />
    @if (_hasImage)
    {
        <p class="lead">
            <button class="btn btn-lg btn-success" @onclick="RetakeAsync">Retake</button>
        </p>
    }
    else
    {
        <p class="lead">
            <button class="btn btn-lg btn-success" @onclick="CaptureAsync">Take picture</button>
        </p>
    }
</div>
@code {

    private bool _hasImage = false;

    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("startVideo", "videoFeed");
    }

    private async Task CaptureAsync()
    {
        _hasImage = await JSRuntime.InvokeAsync<bool>("getFrame", "videoFeed", "currentFrame");
    }

    private async Task RetakeAsync()
    {
        _hasImage = false;
    }
}