@page "/"

<PageTitle>Music greeter</PageTitle>

<div class="my-auto">
    <h1 class="cover-heading">Setup your musical morning!</h1>
    <p class="lead">Add your photo and favorite song to get started</p>
    <p class="lead">
        <button class="btn btn-lg btn-success">Open webcam</button>
    </p>
</div>